section.about
    .container
        h3.about__title О нас

        .about__wrapper
            .about__wrapper--element
                .about__wrapper--icon
                    img(src="img/icons/about-boat-icon.png" alt="icon")

                h3 DOO Maritime

                p
                    | Whether you or your loved one is encountering the natural decrease in mobility that occurs with the
                    | passing of time, or deals with an illness-related lack of physical agility, a stair lift can be the
                    | ideal way to put you in charge of your

            .about__wrapper--element
                .about__wrapper--icon
                    img(src="img/icons/maritime-icon.png" alt="icon")

                h3 Maritime

                p
                    | Whether you or your loved one is encountering the natural decrease in mobility that occurs with the
                    | passing of time, or deals with an illness-related lack of physical agility, a stair lift can be the
                    | ideal way to put you in charge of your

            .about__wrapper--element
                .about__wrapper--icon
                    img(src="img/icons/california-icon.png" alt="icon")

                h3 Omorika montenegro

                p
                    | Whether you or your loved one is encountering the natural decrease in mobility that occurs with the
                    | passing of time, or deals with an illness-related lack of physical agility, a stair lift can be the
                    | ideal way to put you in charge of your

            .about__wrapper--element
                .about__wrapper--icon
                    img(src="img/icons/montenegro-icon.png" alt="icon")

                h3 Omorika i partneri

                p
                    | Whether you or your loved one is encountering the natural decrease in mobility that occurs with the
                    | passing of time, or deals with an illness-related lack of physical agility, a stair lift can be the
                    | ideal way to put you in charge of your