section.cards
    .container
        h1.page-title Приглашаем стать членом Maritime Adriatic Club!

        .cards__top-descr
            p Деятельность
                b Maritime Adriatic Club
                | построена на продаже пакетов
                | туристических услуг, привязанных к категории номеров и яхт.
                br
                | Стать членом закрытого клуба
                b Maritime Adriatic Club
                | можно, приобретая токены –
                br
                | 15-дневные туристические пакеты. Члены клуба разбиты на четыре категории в зависимости от условий проживания и вложенных средств.

        h3.cards__title Пакеты отдыха и членство в клубе:

        #cards-slider.cards__wrapper
            .cards__wrapper--item
                .icon
                    img(src='img/icons/platinum.svg' alt='icon')