section.cards
    .container
        h1.page-title Приглашаем стать членом Maritime Adriatic Club!

        .cards__top-descr
            p Деятельность
                b Maritime Adriatic Club
                | построена на продаже пакетов
                | туристических услуг, привязанных к категории номеров и яхт.
                br
                | Стать членом закрытого клуба
                b Maritime Adriatic Club
                | можно, приобретая токены –
                br
                | 15-дневные туристические пакеты. Члены клуба разбиты на четыре категории в зависимости от условий проживания и вложенных средств.

        h3.cards__title Пакеты отдыха и членство в клубе:

        #cards-slider.cards__wrapper

            .cards__wrapper--item
                .cards__wrapper--icon
                    img(src='img/icons/platinum.svg' alt='icon')

                h3.cards__wrapper--title.platinum Платиновая карта

                p.cards__wrapper--descr
                    span Условия проживания:
                    span
                        | 10 дней, «всё включено»: до 5 человек
                        br
                        | в 3-комнатном апартаменте класса люкс

                span.cards__wrapper--separator
                    img(src='img/icons/platinum.svg' alt='icon')

                p.cards__wrapper--descr
                    span Условия чартера на яхте:
                    span
                        | последующие 5 дней, со шкипером или
                        br
                        | без на Dufour 460 GL или HELA 44

                span.cards__wrapper--separator
                    img(src='img/icons/platinum.svg' alt='icon')

                p.cards__wrapper--descr
                    span Срок действия пакета:
                      b 5 лет

                span.cards__wrapper--separator
                    img(src='img/icons/platinum.svg' alt='icon')

                p.cards__wrapper--descr
                    span Стоимость пакета в год:
                        b 12500 токенов

                span.cards__wrapper--separator
                    img(src='img/icons/platinum.svg' alt='icon')


                p.cards__wrapper--value Осталось клубных карт: 510

                button.cards__wrapper--buy 123 000$ / 12 500 btc - купить

            .cards__wrapper--item
                .cards__wrapper--icon
                    img(src='img/icons/gold.svg' alt='icon')

                h3.cards__wrapper--title.gold Золотая карта

                p.cards__wrapper--descr
                    span Условия проживания:
                    span
                        | 10 дней, «всё включено»: до 4 человек
                        br
                        | в 2-комнатном апартаменте класса люкс

                span.cards__wrapper--separator
                    img(src='img/icons/gold.svg' alt='icon')

                p.cards__wrapper--descr
                    span Условия чартера на яхте:
                    span
                        | последующие 5 дней, со шкипером или
                        br
                        | без на Dufour 460 GL или HELA 44

                span.cards__wrapper--separator
                    img(src='img/icons/gold.svg' alt='icon')

                p.cards__wrapper--descr
                    span Срок действия пакета:
                        b 5 лет

                span.cards__wrapper--separator
                    img(src='img/icons/gold.svg' alt='icon')

                p.cards__wrapper--descr
                    span Стоимость пакета в год:
                        b 1000 токенов

                span.cards__wrapper--separator
                    img(src='img/icons/gold.svg' alt='icon')


                p.cards__wrapper--value Осталось клубных карт: 630

                button.cards__wrapper--buy 123 000$ / 12 500 btc - купить


            .cards__wrapper--item
                .cards__wrapper--icon
                    img(src='img/icons/silver.svg' alt='icon')

                h3.cards__wrapper--title.silver серебрянная карта

                p.cards__wrapper--descr
                    span Условия проживания:
                    span
                        | 10 дней, «всё включено»: до 3 человек
                        br
                        | в 1-комнатном апартаменте класса люкс

                span.cards__wrapper--separator
                    img(src='img/icons/silver.svg' alt='icon')

                p.cards__wrapper--descr
                    span Условия чартера на яхте:
                    span
                        | последующие 5 дней, со шкипером или
                        br
                        | без на Dufour 460 GL или HELA 44

                span.cards__wrapper--separator
                    img(src='img/icons/silver.svg' alt='icon')

                p.cards__wrapper--descr
                    span Срок действия пакета:
                        b 5 лет

                span.cards__wrapper--separator
                    img(src='img/icons/silver.svg' alt='icon')

                p.cards__wrapper--descr
                    span Стоимость пакета в год:
                        b 7500 токенов

                span.cards__wrapper--separator
                    img(src='img/icons/silver.svg' alt='icon')


                p.cards__wrapper--value Осталось клубных карт: 180

                button.cards__wrapper--buy 123 000$ / 12 500 btc - купить