section.cards
    .container
        h1.page-title Приглашаем стать членом Maritime Adriatic Club!

        .cards__top-descr
            p
                | Деятельность Maritime Adriatic Club построена на продаже пакетов
                | туристических услуг, привязанных к категории номеров и яхт.
                | Стать членом закрытого клуба Maritime Adriatic Club можно, приобретая токены –
                | 15-дневные туристические пакеты. Члены клуба разбиты на четыре категории в зависимости от условий проживания и вложенных средств.