section.contacts
    .container
        h1.page-title Контакты

    section.socials
        a(href='#').socials__link.facebook
        a(href='#').socials__link.twitter
        a(href='#').socials__link.vk
        a(href='#').socials__link.instagram