section.contacts
    .container
        h1.page-title Контакты

        .contacts__wrapper
            a(href="tel: +74997042832").contacts__wrapper--link
                span Телефон:
                span +7 499 7042832 (Москва)

            a(href="mailto:office@omstudia.ru").contacts__wrapper--mail
                span e-mail:
                span office@omstudia.ru

            a(href="mailto:authors@omstudia.ru").contacts__wrapper--mail
                span authors@omstudia.ru

    section.socials
        a(href='#').socials__link.facebook
        a(href='#').socials__link.twitter
        a(href='#').socials__link.vk
        a(href='#').socials__link.instagram