section.documents
    .container
        h1.page-title Документы

        .documents__wrapper

            .documents__row

                .documents__row--item.strong
                    h3
                        | Doo
                        br
                        | Maritime
                        br
                        | adriatic
                        br
                        | club
                    p
                        | Словенская
                        br
                        | головная
                        br
                        | компания

                .documents__row--item
                    p
                        | Ивестиционный
                        br
                        | договор

                .documents__row--item.strong
                    h3
                        | Doo
                        br
                        | Maritime
                        br
                        | adriatic
                        br
                        | club
                    p
                        | Дочерняя
                        br
                        | компания
                        br
                        | в Черногории

                .documents__row--item
                    p
                        | Контракт
                        br
                        | на управление комплексом
                        br
                        | (на 30 лет)

                .documents__row--item.strong
                    h3
                        | Omorika
                        br
                        | Montenegro
                    p
                        | Строительная
                        br
                        | компания
                        br
                        | в Черногории

            .documents__row

                .documents__row--item
                    p
                        | Договор
                        br
                        | купли-продажи клубных карт
                        br
                        | компания

                .documents__row--item
                    p
                        | Договор
                        br
                        | купли-продажи клубных карт
                        br
                        | компания

                .documents__row--item.center


                .documents__row--item
                    p
                        | Долгосрочный договор аренды
                        br
                        | (на 30 лет)

                .documents__row--item
                    p
                        | Договор
                        br
                        | на проектирование
                        br

            .documents__row

                .documents__row--item.strong
                    h3
                        | Юридические
                        br
                        | лица


                .documents__row--item.strong
                    h3
                        | Физические
                        br
                        | лица


                .documents__row--item.center


                .documents__row--item.strong
                    h3
                        | Morska
                        br
                        | Dobra
                    p
                        | Министерство
                        br
                        | моря

                .documents__row--item.strong
                    h3
                        | Omorika i
                        br
                        | partneri
                    p
                        | Архитектурное
                        br
                        | бюро в Сербии