footer.footer
    .container
        a(href='/').footer__logo
            img(src='img/icons/manc_logo_blue copy@2x.svg')

        .footer__box
            .footer__links
                h3.footer__links--title Карта сайта:
                ul
                    li: a(href="#") O ПРОЕКТЕ
                    li: a(href="#") КОМАНДА
                    li: a(href="#") ICO
                    li: a(href="#") Клуб
                    li: a(href="#") Документы
                    li: a(href="#") Контакты

            .footer__links
                h3.footer__links--title Контакты:
                a(href='tel:+74997042832').footer__links--element +7 499 7042832 (Москва)
                a(href='mailto:office@omstudia.ru').footer__links--element office@omstudia.ru
                a(href='mailto:authors@omstudia.ru').footer__links--element authors@omstudia.ru

        .footer__socials
            a(href='#').footer__socials--link.facebook
            a(href='#').footer__socials--link.twitter
            a(href='#').footer__socials--link.vk
            a(href='#').footer__socials--link.instagram

    .footer__art
        p © 2017 Maritime Adriatic Club. All rights reserved
        a(href='https://asterixyoursite.ru/' target='_blank')
            span Developed by
            span
                img(src='img/dev-logo.png' alt='asterixyoursite.ru')