section.gallery
    .container
        h1.page-title Галерея

        .gallery__photos
            a(href='img/gallery-1.png' data-fancybox="gallery").gallery__photos--element
              img(src='img/gallery-1.png', alt='photo')

            a(href='img/gallery-2.png' data-fancybox="gallery").gallery__photos--element
                img(src='img/gallery-2.png', alt='photo')

            a(href='img/gallery-3.png' data-fancybox="gallery").gallery__photos--element
                img(src='img/gallery-3.png', alt='photo')

            a(href='img/gallery-4.png' data-fancybox="gallery").gallery__photos--element
                img(src='img/gallery-4.png', alt='photo')

            a(href='img/gallery-5.png' data-fancybox="gallery").gallery__photos--element
                img(src='img/gallery-5.png', alt='photo')

            a(href='img/gallery-6.png' data-fancybox="gallery").gallery__photos--element
                img(src='img/gallery-6.png', alt='photo')

            a(href='img/gallery-7.png' data-fancybox="gallery").gallery__photos--element
                img(src='img/gallery-7.png', alt='photo')

            a(href='img/gallery-8.png' data-fancybox="gallery").gallery__photos--element
                img(src='img/gallery-8.png', alt='photo')

            a(href='img/gallery-9.png' data-fancybox="gallery").gallery__photos--element
                img(src='img/gallery-9.png', alt='photo')

            a(href='img/gallery-10.png' data-fancybox="gallery").gallery__photos--element
                img(src='img/gallery-10.png', alt='photo')

        h3.page-title Видео

            video(controls='controls', poster='img/video-bg.png').gallery__video
                source(src='video/duel.ogv', type='video/ogg; codecs="theora, vorbis"')
                source(src='video/duel.webm', type='video/webm; codecs="vp8, vorbis"')
                a(href='video/duel.mp4')
