header.header
    .container
        a(href='/').header__logo
            img(src='img/icons/manc_logo_blue@2x.svg', alt='logo')

        nav.header__navigation
            a#mobile-menu.header__trigger
                span
                span
                span
            ul.header__nav
                li: a(href='/') О проекте
                li: a(href='cards.html') Клубные карты
                li: a(href='hotel.html') Флот и отель
                li: a(href='partners.html') Партнеры
                li: a(href='gallery.html') Галерея
                li: a(href='news.html') Новости
                li: a(href='documents.html') Документы
                li: a(href='contacts.html') Контакты

         .header__toolbar
                a(href='#').header__toolbar--user
                div.header__form-box
                    form.header__form
                        input(type='text' placeholder='Логин').header__form--field
                        input(type='text' placeholder='Пароль').header__form--field
                        button(type='submit').header__form--submit Регистрация
                        button(type='submit').header__form--enter Вход
                        a(href='#').header__form--refresh Забыли пароль?

                .header__lang
                    .header__lang--trigger
                        .header__lang--title(data-id="0")
                            span.icon
                                img(src="img/icons/RU Copy@2x.svg", alt="rus")
                            span.lang Русский
                    ul.header__lang--list
                        li(data-id="1")
                            span.icon
                                img(src="img/icons/RU Copy@2x.svg", alt="rus")
                            span.lang Русский
                        li(data-id="2")
                            span.icon
                                img(src="img/icons/GB@2x.svg", alt="eng")
                            span.lang English
                        li(data-id="3")
                            span.icon
                                img(src="img/icons/FR@2x.svg", alt="fra")
                            span.lang Français
                        li(data-id="4")
                            span.icon
                                img(src="img/icons/CN@2x.svg", alt="china")
                            span.lang 中文