section.hotel
    .container
        h1.page-title Флот и отель

        .hotel__wrapper

            .hotel__wrapper--element
                .hotel__wrapper--photo
                    img(src="img/hotel_1.png" alt="photo")
                .hotel__wrapper--about
                    h3 Dufour 412 GL
                    p Learn to surf like a local. First, we’ll decide on a good break based on the surf conditions and weather.

                    .hotel__wrapper--val
                        .hotel__wrapper--item Кол-во мест:
                            span 4
                        .hotel__wrapper--item Метраж:
                            span 24
                        .hotel__wrapper--item Число людей:
                            span 5

            .hotel__wrapper--element
                .hotel__wrapper--photo
                    img(src="img/hotel_2.png" alt="photo")
                .hotel__wrapper--about
                    h3 Dufour 382 GL
                    p Learn to surf like a local. First, we’ll decide on a good break based on the surf conditions and weather.

                    .hotel__wrapper--val
                        .hotel__wrapper--item Кол-во мест:
                            span 4
                        .hotel__wrapper--item Метраж:
                            span 24
                        .hotel__wrapper--item Число людей:
                            span 5

            .hotel__wrapper--element
                .hotel__wrapper--photo
                    img(src="img/hotel_3.png" alt="photo")
                .hotel__wrapper--about
                    h3 Dufour 382 GL
                    p Learn to surf like a local. First, we’ll decide on a good break based on the surf conditions and weather.

                    .hotel__wrapper--val
                        .hotel__wrapper--item Кол-во мест:
                            span 4
                        .hotel__wrapper--item Метраж:
                            span 24
                        .hotel__wrapper--item Число людей:
                            span 5


            .hotel__wrapper--box
                h3.page-title Отель
                p
                 | Attending a trade show can be a very effective method of promoting your company and its products.
                 | And one of the most effective ways to optimize your trade show display and increase traffic to your
                 | booth is through the use of banner stands. A banner stand for your trade show display draws attention
                 | to your booth and helps you deliver your message to prospective clients, current customers and business
                 | contacts at what is usually a highly competitive event. Your trade show

            .hotel__wrapper--element
                .hotel__wrapper--photo
                    img(src="img/hotel_4.png" alt="photo")
                .hotel__wrapper--about
                    h3 Аппартаменты с видом на море
                    p Learn to surf like a local. First, we’ll decide on a good break based on the surf conditions and weather.

                    .hotel__wrapper--val
                        .hotel__wrapper--item Кол-во мест:
                            span 4
                        .hotel__wrapper--item Метраж:
                            span 24
                        .hotel__wrapper--item Число людей:
                            span 5

            .hotel__wrapper--element
                .hotel__wrapper--photo
                    img(src="img/hotel_5.png" alt="photo")
                .hotel__wrapper--about
                    h3 Полулюкс
                    p Learn to surf like a local. First, we’ll decide on a good break based on the surf conditions and weather.

                    .hotel__wrapper--val
                        .hotel__wrapper--item Кол-во мест:
                            span 4
                        .hotel__wrapper--item Метраж:
                            span 24
                        .hotel__wrapper--item Число людей:
                            span 5

            .hotel__wrapper--element
                .hotel__wrapper--photo
                    img(src="img/hotel_6.png" alt="photo")
                .hotel__wrapper--about
                    h3 Аппартаменты с  отдельным выходом на пляж
                    p Learn to surf like a local. First, we’ll decide on a good break based on the surf conditions and weather.

                    .hotel__wrapper--val
                        .hotel__wrapper--item Кол-во мест:
                            span 4
                        .hotel__wrapper--item Метраж:
                            span 24
                        .hotel__wrapper--item Число людей:
                            span 5