section.inform
    .container
        h3.inform__title Дорожная карта

        .inform__wrapper
            .inform__element.first
                span.inform__element--date 15.12.17
                p.inform__element--descr Начало продаж клубных карт со скидкой 20%

            .inform__element.left
                span.inform__element--date 15.04.18
                p.inform__element--descr
                    | Получение разрешения на строительство марины и комплекса.
                    | Продажа клубных карт со скидкой 15%

            .inform__element.right
                span.inform__element--date 01.05.18
                p.inform__element--descr
                    | Старт бронирования марины

            .inform__element.left
                span.inform__element--date 01.06.18
                p.inform__element--descr
                    | Открытие марины в тестовом режиме
                    | (скидки на все услуги 50%)

            .inform__element.right
                span.inform__element--date 30.06.18
                p.inform__element--descr
                    | Продажа клубных карт со скидкой 10%

            .inform__element.left
                span.inform__element--date 01.07.18
                p.inform__element--descr
                    | Cтарт первой регаты клуба

            .inform__element.right
                span.inform__element--date 01.10.18
                p.inform__element--descr
                    | Cтарт бронирования гостиничного
                    | комплекса на сезон 2018 года

            .inform__element.left
                span.inform__element--date 02.10.18
                p.inform__element--descr
                    | Продажа клубных карт со скидкой 5%

            .inform__element.right
                span.inform__element--date 01.03.19
                p.inform__element--descr
                    | Сдача комплекса в эксплуатацию

            .inform__element.left
                span.inform__element--date 01.04.19
                p.inform__element--descr
                    | Окончание строительства
                    | гостиничного комплекса, открытие всего комплекса

            .inform__element.right
                span.inform__element--date 01.05.19
                p.inform__element--descr
                    | Открытие клуба

            .inform__element.last
                span.inform__element--date 01.04.19
                p.inform__element--descr Выпуск токенов на биржу

        .inform__box
            h3 Maritime Adriatic Club
            .inform__box--descr
                p
                    | Возводится в центральной части набережной курортного города Рисана Боко-Которского залива
                    | Адриатического моря в 25 километрах от аэропорта г. Тивата и 90 км от а/п г. Подгорица.
                    | Чистейшие воды Адриатики, отсутствие промышленного производства и шумных ночных клубов, теплый
                    | микроклимат, римские мозаики, средневековые улочки, доисторические пещеры создают условия для
                    | здорового и познавательного отдыха. Черногория является одним из самых быстро растущих туристических
                    | направлений Черногории.

                p
                    | Площадь застройки – 1,5 (?1) га земли. Комплекс состоит из яхт-клуба с отелем и здания  апартотеля.

                p
                    | 5* туристический комплекс клуба - это 88 апартаментов класса люкс, стоящими из 1,2, 3 комнат, с кухонными
                    | зонами. Инфраструктура апартотеля включает в себя ресторан на 360 мест, детский и большой бассейн,
                    | спортивный комплекс, паркинг.

                p
                    | Яхт-клуб представляет из себя отель категории 4* на 36 номеров с конференц залом, рестораном на 75
                    | посадочных мест, баром, СПА центром, бассейном с пресной водой, раздевалками, душевыми, подземной
                    | автостоянкой (?) и стоянкой для гостей на 55 машиномест.

            .inform__box--values

                .inform__box--item
                    span.value 8500
                    p.descr
                        | кв.м.
                        br
                        | площадь застройки

                .inform__box--item
                    span.value 88
                    p.descr
                        | общее количество
                        br
                        | апартаментов

                .inform__box--item
                    span.value 220
                    p.descr
                        | количество яхт мест

                .inform__box--item
                    span.value 44
                    p.descr
                        | лодки - наш флот

                .inform__box--item
                    span.value 1320
                    p.descr
                        | Количество
                        br
                        | клубных карт