section.news
    .container
        h1.page-title Новости

        .news__wrapper
            a(href='#').news__element
                .news__element--photo
                    img(src='img/news-1.png' alt='photo')
                .news__element--box
                    h3.news__element--title Robot’s Penguin Disguise Keeps Birds Calm
                    p.news__element--descr
                        | Figuring out how our brains work is key to understanding

            a(href='#').news__element
                .news__element--photo
                    img(src='img/news-1.png' alt='photo')
                .news__element--box
                    h3.news__element--title Robot’s Penguin Disguise Keeps Birds Calm
                    p.news__element--descr
                        | Figuring out how our brains work is key to understanding

            a(href='#').news__element
                .news__element--photo
                    img(src='img/news-1.png' alt='photo')
                .news__element--box
                    h3.news__element--title Robot’s Penguin Disguise Keeps Birds Calm
                    p.news__element--descr
                        | Figuring out how our brains work is key to understanding

            a(href='#').news__element
                .news__element--photo
                    img(src='img/news-1.png' alt='photo')
                .news__element--box
                    h3.news__element--title Robot’s Penguin Disguise Keeps Birds Calm
                    p.news__element--descr
                        | Figuring out how our brains work is key to understanding

            a(href='#').news__element
                .news__element--photo
                    img(src='img/news-1.png' alt='photo')
                .news__element--box
                    h3.news__element--title Robot’s Penguin Disguise Keeps Birds Calm
                    p.news__element--descr
                        | Figuring out how our brains work is key to understanding

            a(href='#').news__element
                .news__element--photo
                    img(src='img/news-1.png' alt='photo')
                .news__element--box
                    h3.news__element--title Robot’s Penguin Disguise Keeps Birds Calm
                    p.news__element--descr
                        | Figuring out how our brains work is key to understanding

            a(href='#').news__element
                .news__element--photo
                    img(src='img/news-1.png' alt='photo')
                .news__element--box
                    h3.news__element--title Robot’s Penguin Disguise Keeps Birds Calm
                    p.news__element--descr
                        | Figuring out how our brains work is key to understanding

            a(href='#').news__element
                .news__element--photo
                    img(src='img/news-1.png' alt='photo')
                .news__element--box
                    h3.news__element--title Robot’s Penguin Disguise Keeps Birds Calm
                    p.news__element--descr
                        | Figuring out how our brains work is key to understanding