section.news
    .container
        h1.page-title Новости

        .news__wrapper
            a(href='single-news.html').news__element
                .news__element--photo
                    img(src='img/news-1.png' alt='photo')
                .news__element--box
                    h3.news__element--title Robot’s Penguin Disguise Keeps Birds Calm
                    p.news__element--descr
                        | Figuring out how our brains work is key to understanding

            a(href='single-news.html').news__element
                .news__element--photo
                    img(src='img/news-2.png' alt='photo')
                .news__element--box
                    h3.news__element--title Robot’s Penguin Disguise Keeps Birds Calm
                    p.news__element--descr
                        | Figuring out how our brains work is key to understanding

            a(href='single-news.html').news__element
                .news__element--photo
                    img(src='img/news-3.png' alt='photo')
                .news__element--box
                    h3.news__element--title Robot’s Penguin Disguise Keeps Birds Calm
                    p.news__element--descr
                        | Figuring out how our brains work is key to understanding

            a(href='single-news.html').news__element
                .news__element--photo
                    img(src='img/news-4.png' alt='photo')
                .news__element--box
                    h3.news__element--title Robot’s Penguin Disguise Keeps Birds Calm
                    p.news__element--descr
                        | Figuring out how our brains work is key to understanding

            a(href='single-news.html').news__element
                .news__element--photo
                    img(src='img/news-5.png' alt='photo')
                .news__element--box
                    h3.news__element--title Robot’s Penguin Disguise Keeps Birds Calm
                    p.news__element--descr
                        | Figuring out how our brains work is key to understanding

            a(href='single-news.html').news__element
                .news__element--photo
                    img(src='img/news-6.png' alt='photo')
                .news__element--box
                    h3.news__element--title Robot’s Penguin Disguise Keeps Birds Calm
                    p.news__element--descr
                        | Figuring out how our brains work is key to understanding

            a(href='single-news.html').news__element
                .news__element--photo
                    img(src='img/news-7.png' alt='photo')
                .news__element--box
                    h3.news__element--title Robot’s Penguin Disguise Keeps Birds Calm
                    p.news__element--descr
                        | Figuring out how our brains work is key to understanding

            a(href='single-news.html').news__element
                .news__element--photo
                    img(src='img/news-8.png' alt='photo')
                .news__element--box
                    h3.news__element--title Robot’s Penguin Disguise Keeps Birds Calm
                    p.news__element--descr
                        | Figuring out how our brains work is key to understanding