section.partners

    .container
        h1.page-title Партнеры

        .partners__wrapper

            a(href="#" target="_blank").partners__wrapper--item
              img(src="img/partner-1.png", alt="partner")

            a(href="#" target="_blank").partners__wrapper--item
                img(src="img/partner-2.png", alt="partner")

            a(href="#" target="_blank").partners__wrapper--item
                img(src="img/partner-3.png", alt="partner")

            a(href="#" target="_blank").partners__wrapper--item
                img(src="img/partner-4.png", alt="partner")

            a(href="#" target="_blank").partners__wrapper--item
                img(src="img/partner-5.png", alt="partner")

            a(href="#" target="_blank").partners__wrapper--item
                img(src="img/partner-6.png", alt="partner")

            a(href="#" target="_blank").partners__wrapper--item
                img(src="img/partner-7.png", alt="partner")

            a(href="#" target="_blank").partners__wrapper--item
                img(src="img/partner-8.png", alt="partner")

        .partners__form-box

            form#partners-form.partners__form-box--form

                .partners__form-box--title
                    h3 Готовы подать заявку?
                    p Оставьте ваши контакты, и мы обязательно свяжемся с вами.

                .partners__form-box--fields
                    .partners__form-box--line
                        label ФИО:
                        input(type="text" required).partners__form-box--field
                    .partners__form-box--line
                        label Адрес электронной почты:
                        input(type="text" required).partners__form-box--field

                input(type="submit", value="Подать заявку").partners__form-box--submit.js-show-partners-form

    section.socials
        a(href='#').socials__link.facebook-b
        a(href='#').socials__link.twitter-b
        a(href='#').socials__link.vk-b
        a(href='#').socials__link.instagram-b


