section.news
    .container
        h1.page-title Новости

        .news__box
            .news__box--photo
                img(src='img/single-news.png', alt='photo')
            .news__box--descr
                h3 Robot’s Penguin Disguise Keeps Birds Calm
                p Spielberg’s blockbuster, “Minority Report”, is set in the year 2054. The future – at least according to a team of MIT futurologists, hired by the cinematic genius – is the captive of embarrassingly personalized and disturbingly intrusive, mostly outdoor, interactive advertising.

                p The way Internet advertising has behaved lately, it may well take 50 years to get there.

                p More than 1 billion people frequent the Internet daily. Americans alone spent $69 billion buying things online in 2004. eMarketer, a market research firm, predicts that e-commerce will climb to $139 billion in 2008. American Internet advertising revenues boomed to $7.3 billion in 2003 and $9.6 billion in 2004. Shares of companies like Yahoo! and Google – sellers of online advertising space and technologies – have skyrocketed.

                p This is a remarkable reversal from just a few years ago.

                p All forms of advertising – both online and print – have been in decline in 2000-2. A survey conducted by the New Media Group of PricewaterhouseCoopers (PwC) – the Internet Ad Revenue Report sponsored by the Interactive Advertising Bureau (IAB) – found a 12 percent decline – to $7.2 billion – in Internet advertising in 2001. CMR, The Myers Report, and McCann Erickson have all recorded drops of between 12 and 14 percent in broadcast advertising and of c. 20 percent in radio spots in 2001.

                p The following year – 2002 – may have been the turning point. A March 2002 Nielsen NetRatings report registered a sharp turnaround in the first quarter of 2002. The number of unique online ads shot up by one third to 70,000. Jupiter Media Matrix predicted a 10 percent increase in online classified ads – to $1.2 billion in 2002. By 2007, it said, online ads will account for 7 percent of total advertising dollars – some $16 billion. Both IDC and INT Media Group spawned similar prognostications for the weaker Asia-Pacific market.
