section.top-banner

    .container

        h1.top-banner__title
            | «Maritime Adriatic Club» –  ICO проект
            br
            | строительства туристического комплекса
            br
            | с яхт-клубом в Черногории

        p.top-banner__subtitle Продажа токенов закончится через:

        p#top-banner-date.top-banner__date 2018/06/05

        ul#countdown.top-banner__counter
            li
                p.timeRefDays 00
            li
                p.timeRefHours 00
            li
                p.timeRefMinutes 00
            li
                p.timeRefSeconds 00

        .top-banner__links
            a(href="#").top-banner__links--notice Whitepaper
            a(href="#").top-banner__links--callback


    section.socials
        a(href='#').socials__link.facebook
        a(href='#').socials__link.twitter
        a(href='#').socials__link.vk
        a(href='#').socials__link.instagram

.section.top-banner__bottom
    .container
        .top-banner__bottom--box
            h3.top-banner__bottom--title О проекте

            p
                | Ниже идет описание – почему у нас выгодно купить токен, чем он будет полезен людям. Как мы обеспечиваем
                | его рост. Как можно будет использовать токен. Фраза – для удобства предоставления услуг, была введена
                | внутренняя валюта – токены.
