.header{
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: -2px;
  z-index: 2;
  &__logo{
    display: block;
    position: relative;
    float: left;
    width: 54px;
    height: 48px;
    overflow: hidden;
    margin-top: 11px;
    margin-right: 23px;
    margin-bottom: 9px;
    @include breakpoint(max-width 660px){
      margin-left: calc(50% - (54px/2));
      margin-left: -moz-calc(50% - (54px/2));
    }
    img, svg{
      size: 100%;
      object-fit: contain;
    }
  }
  &__toolbar{
    display: block;
    position: absolute;
    width: 180px;
    top: 0;
    right: -179px;
    @include breakpoint(max-width 1300px){
      top: 0;
      right: 12px;
    }
    @include breakpoint(max-width 1024px){
      top: 0;
      right: 12px;
    }
    @include breakpoint(max-width 660px){
      position: absolute;
      top: 0;
      right: 12px;
      width: 111px;
    }
    &--user{
      display: block;
      position: relative;
      float: left;
      width: 25px;
      height: 25px;
      margin-top: 23px;
      margin-left: 15px;
      overflow: hidden;
      background-image: url('../img/icons/profile.svg');
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
    }
  }
  &__form-box{
    display: none;
    position: absolute;
    width: 192px;
    //height: 163px;
    top: 44px;
    left: -151px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 122, 255, 0.08);
    z-index: 1;
    @include breakpoint(max-width 660px){
      top: 63px;
      left: -123px;
    }
  }
  &__form{
    position: relative;
    float: left;
    width: 100%;
    padding-top: 13px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    @include box-sizing(border-box);
    &--field{
      position: relative;
      float: left;
      width: 100%;
      height: 32px;
      margin-bottom: 14px;
      padding: 0 10px;
      @include box-sizing(border-box);
      border: 1px solid #979797;
      border-radius: 3px;
      color: #666666;
      font-size: 12px;
    }
    &--submit{
      float: left;
      color: #fff;
      font-size: 12px;      
      text-transform: uppercase;
      border: 1px solid transparent;
      border-radius: 14px;
      background-color: #89a2b5;
      padding: 6px 13px;
      @include box-sizing(border-box);
      cursor: pointer;
    }
    &--enter{
      float: right;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      border: 1px solid transparent;
      border-radius: 14px;
      background-color: #00365f;
      padding: 6px 13px;
      @include box-sizing(border-box);
      cursor: pointer;
    }
    &--refresh{
      position: relative;
      float: left;
      margin-top: 10px;
      color: #597d97;
      font-size: 12px;
      text-decoration: underline;
    }
  }
  &__lang{
    position: relative;
    float: left;
    width: calc(100% - (25px + 15px));
    padding-left: 37px;
    @include box-sizing(border-box);
    &--trigger{
      position: relative;
      float: left;
      width: 100%;
      margin-top: 25px;
      cursor: pointer;
      &:after{
        display: block;
        position: absolute;
        content: '';
        top: 8px;
        right: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #003360;
        @include breakpoint(max-width 660px){
          display: none;  
        }
      }
    }
    &--title{
      position: relative;
      float: left;
      width: 100%;
      .icon{
        position: relative;
        float: left;
        width: 15px;
        height: 14px;
        overflow: hidden;
        border-radius: 2px;
        margin-top: 2px;
        @include breakpoint(max-width 660px){
          width: 27px;
          height: 21px;
        }
        img, svg{
          size: 100%;
          object-fit: contain;
        }
      }
      .lang{
        position: relative;
        float: left;
        width: calc(100% - 15px);
        width: -moz-calc(100% - 15px);
        color: #03284c;
        font-size: 12px;
        letter-spacing: 0.6px;
        line-height: 22px;
        padding-left: 10px;
        @include box-sizing(border-box);
        @include breakpoint(max-width 660px){
          display: none;
        }
      }
    }
    &--list{
      display: none;
      position: absolute;
      width: 100%;
      box-shadow: 0 0 6px rgba(0, 122, 255, 0.08);
      padding-left: 14px;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 10px;
      @include box-sizing(border-box);
      margin: 0;
      left: 23px;
      top: 52px;
      list-style: none;
      z-index: 1;
      background-color: #fff;
      li{
        position: relative;
        float: left;
        width: 100%;
        cursor: pointer;
        @include breakpoint(max-width 660px){
          margin-bottom: 10px;
        }
        .icon{
          position: relative;
          float: left;
          width: 15px;
          height: 14px;
          overflow: hidden;
          border-radius: 2px;
          margin-top: 2px;
          @include breakpoint(max-width 660px){
            width: 27px;
            height: 21px;
          }
          img, svg{
            size: 100%;
            object-fit: contain;
          }
        }
        .lang{
          position: relative;
          float: left;
          width: calc(100% - 15px);
          width: -moz-calc(100% - 15px);
          color: #03284c;
          font-size: 12px;
          letter-spacing: 0.6px;
          line-height: 22px;
          padding-left: 10px;
          @include box-sizing(border-box);
          @include breakpoint(max-width 660px){
            display: none;
          }
        }
      }
    }
    .bogo-language-switcher{
      display: none;
      position: absolute;
      width: 100%;
      box-shadow: 0 0 6px rgba(0, 122, 255, 0.08);
      padding-left: 5px;
      padding-top: 6px;
      padding-right: 0;
      padding-bottom: 10px;
      @include box-sizing(border-box);
      margin: 0;
      left: 23px;
      top: 52px;
      list-style: none;
      z-index: 1;
      background-color: #fff;
      @include breakpoint(max-width 660px){
        width: 123px;
        margin: 0;
        left: -53px;
        top: 52px;
      }
      li{
        position: relative;
        float: left;
        width: 100%;
        cursor: pointer;
        color: #03284c;
        font-size: 12px;
        letter-spacing: 0.6px;
        line-height: 22px;
        padding-left: 8px;
        @include box-sizing(border-box);
        @include breakpoint(max-width 660px){
          line-height: 18px;
          margin-bottom: 10px;
          //content: ""!important;
          //font-size: 0;
        }
        @include breakpoint(max-width 660px){
          margin-bottom: 10px;
        }
        //a{
        //  @include breakpoint(max-width 660px){
        //    color: transparent;
        //    margin-bottom: 10px;
        //    //content: ""!important;
        //    //font-size: 0;
        //  }
        //}
        .bogoflags{
          margin-right: 5px;
        }
      }
    }
  }
}