.header{
  &__navigation{
    display: block;
    position: relative;
    float: left;
    width: calc(100% - (54px + 23px));
    width: -moz-calc(100% - (54px + 23px));
    @include breakpoint(max-width 1300px){
      width: 100%;
    }
    @include breakpoint(max-width 1024px){
      width: 100%;
    }
    @include breakpoint(max-width 660px){
      width: 100%;
    }
  }
  &__trigger{
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -56px;
    left: 12px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
    z-index: 15;
    @include breakpoint(max-width 660px) {
      display: block;
    }
    span{
      display: block;
      height: 2px;
      width: 18px;
      background-color: #00365f;
      position: absolute;
      left: 50%;
      margin-left: -9px;
      top: 50%;
      margin-top: -1px;
    }
    span:first-of-type {
      transition: all 0.2s;
      margin-top: -6px;
      content: '';
    }
    span:last-of-type {
      transition: all 0.2s;
      margin-top: 4px;
      content: '';
    }
  }
  &__trigger.js-trigger-active{
    background-color: #03274c;
    span:nth-of-type(2){
      display: none;
    }
    span {
      background-color: #fff;
      &:first-of-type {
        transform: rotate(135deg);
        margin-top: 0;
      }
      &:last-of-type {
        transform: rotate(-134deg);
        margin-top: 0;
      }
    }
  }
  &__nav, .header__nav ul{
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(space-between);
    position: relative;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    @include breakpoint(max-width 660px) {
      //display: none;
      position: absolute;
      z-index: 2;
      background-color: rgba(3,39,76,0.95);
    }
    li{
      position: relative;
      float: left;
      @include breakpoint(max-width 660px){
        width: 100%;
      }
      a{
        display: block;
        position: relative;
        float: left;
        width: calc(100% - (15px*2));
        width: -moz-calc(100% - (15px*2));
        margin: 0 15px;
        padding-top: 29px;
        padding-bottom: 23px;
        color: #666666;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.6px;
        @include breakpoint(max-width 1300px){
          font-size: 10px;
          width: calc(100% - (5px*2));
          width: -moz-calc(100% - (5px*2));
          margin: 0 5px;
        }
        @include breakpoint(max-width 1024px){
          font-size: 10px;
        }
        @include breakpoint(max-width 660px){
          width: 100%;
          margin: 0;
          color: #fff;
          font-size: 12px;
        }
        &:hover{
          color: #03274c;
          font-family: $ProximaNovaBold;
          @include breakpoint(max-width 660px){
            color: #fff;
          }
          &:after{
            display: block;
            position: absolute;
            content: '';
            width: calc(100% + 30px);
            width: -moz-calc(100% + 30px);
            height: 3px;
            left: -15px;
            bottom: -2px;
            background-color: #00365f;
            @include breakpoint(max-width 660px){
              background-color: #fff;
            }
          }
        }
      }
    }
    li.current_page_item{
      a{
        color: #03274c;
        font-family: $ProximaNovaBold;
        @include breakpoint(max-width 660px){
          color: #fff;
        }
        &:after{
          display: block;
          position: absolute;
          content: '';
          width: calc(100% + 30px);
          width: -moz-calc(100% + 30px);
          height: 3px;
          left: -15px;
          bottom: -2px;
          background-color: #00365f;
          @include breakpoint(max-width 660px){
            background-color: #fff;
          }
        }
      }
    }
  }
  &__nav{
    @include breakpoint(max-width 660px) {
      display: none;
      //position: absolute;
      //z-index: 2;
      //background-color: rgba(3,39,76,0.95);
    }
  }
}