.cards{
  position: relative;
  float: left;
  width: 100%;
  background-image: url('../img/cards-bg.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}