.documents {
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;
  &__wrapper {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 32px;
  }
  &__row {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(space-between);
    position: relative;
    float: left;
    width: 100%;
    @include breakpoint(max-width 660px){
      @include flex-direction(column);
    }
    &:first-of-type{
      .documents__row--item.strong:nth-of-type(1):after {
        display: block;
        position: absolute;
        content: '';
        bottom: -100%;
        left: calc(50% - (5px/2));
        width: 5px;
        height: 100%;
        background-color: #00365f;
        @include breakpoint(max-width 660px){
          display: none;
        }
      }
      .documents__row--item.strong:nth-of-type(5):after {
        display: block;
        position: absolute;
        content: '';
        bottom: -100%;
        left: calc(50% - (5px/2));
        width: 5px;
        height: 100%;
        background-color: #00365f;
        @include breakpoint(max-width 660px){
          display: none;
        }
      }
    }
    &:nth-of-type(2){
      .documents__row--item:nth-of-type(2):before, .documents__row--item:nth-of-type(4):before{
        display: block;
        position: absolute;
        content: '';
        top: -16px;
        left: calc(50% - (5px/2));
        width: 5px;
        height: 15px;
        background-color: #00365f;
        @include breakpoint(max-width 660px){
          display: none;
        }
      }
    }
    &:nth-of-type(2){
      .documents__row--item:nth-of-type(1):after, .documents__row--item:nth-of-type(2):after {
        display: block;
        position: absolute;
        content: '';
        bottom: -31px;
        left: calc(50% - (9px/2));
        width: 9px;
        height: 30px;
        background-image: url('../img/icons/down-arrow-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        @include breakpoint(max-width 660px){
          display: none;
        }
      }
      .documents__row--item:nth-of-type(4):after, .documents__row--item:nth-of-type(5):after {
        display: block;
        position: absolute;
        content: '';
        bottom: -31px;
        left: calc(50% - (9px/2));
        width: 9px;
        height: 30px;
        background-image: url('../img/icons/down-arrow-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        @include breakpoint(max-width 660px){
          display: none;
        }
      }
      .documents__row--item:nth-of-type(1):before {
        display: block;
        position: absolute;
        content: '';
        top: -16px;
        left: 89px;
        width: calc(100% + 16px);
        width: -moz-calc(100% + 16px);
        height: 5px;
        background-color: #00365f;
        @include breakpoint(max-width 998px){
          left: 66px;
        }
        @include breakpoint(max-width 660px){
          display: none;
        }
      }
      .documents__row--item:nth-of-type(5):before {
        display: block;
        position: absolute;
        content: '';
        top: -16px;
        right: 89px;
        width: calc(100% + 16px);
        width: -moz-calc(100% + 16px);
        height: 5px;
        background-color: #00365f;
        @include breakpoint(max-width 998px){
          right:66px;
        }
        @include breakpoint(max-width 660px){
          display: none;
        }
      }
    }
    &:first-of-type:after {
      display: block;
      position: absolute;
      content: '';
      top: 101px;
      left: 0;
      width: calc(20% * 4 + 10px);
      height: 9px;
      background-image: url('../img/icons/big-arrow-icon.png');
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      @include breakpoint(max-width 660px){
        display: none;
      }
    }
    &--item {
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include flex-direction(column);
      @include justify-content(center);
      position: relative;
      float: left;
      width: calc(20% - 10px);
      width: -moz-calc(20% - 10px);
      height: 206px;
      margin-bottom: 30px;
      padding: 20px;
      @include box-sizing(border-box);
      background-color: white;
      border: 1px solid #00365f;
      border-radius: 30px;
      z-index: 1;
      @include breakpoint(max-width 660px){
        width: calc(100% - 10px);
        width: -moz-calc(100% - 10px);
      }
      > h3 {
        position: relative;
        float: left;
        width: 100%;
        margin-top: 0;
        margin-bottom: 16px;
        text-align: center;
        color: #00365f;
        font-family: $ProximaNovaSemibold;
        font-size: 18px;
        text-transform: uppercase;
        @include breakpoint(max-width 998px){
          font-size: 14px;
        }
      }
      > p {
        position: relative;
        float: left;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        color: #00365f;
        font-size: 16px;
        @include breakpoint(max-width 998px){
          font-size: 12px;
        }
      }
    }
    &--item.center {
      border: transparent;
      @include breakpoint(max-width 660px){
        display: none;
      }
    }
    &--item.strong {
      box-shadow: 0 0 0 2px #00365f inset;
    }
  }

}