.inform{
  position: relative;
  float: left;
  width: 100%;
  background-image: url('../img/info-bg.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  //background-color: #00345b;
  &__title{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 38px;
    text-align: center;
    color: #ffffff;
    font-family: $ProximaNovaBold;
    font-size: 28px;
  }
  &__wrapper{
    position: relative;
    float: left;
    width: 100%;
    &:after{
      display: block;
      position: absolute;
      content: '';
      top: 78px;
      left: calc(50% - 1px);
      left: -moz-calc(50% - 1px);
      width: 2px;
      height: calc(100% - 259px);
      height: -moz-calc(100% - 259px);
      background-color: #fff;
      @include breakpoint(max-width 660px){
        display: none;
      }
    }
  }
  &__element{
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);
    position: relative;
    float: left;
    width: 50%;
    z-index: 1;
    @include breakpoint(max-width 660px){
      width: 100%;
    }
    //p{
    //  display: none;
    //}
    &--date{
      -webkit-order: 1;
      order: 1;
      position: relative;
      float: left;
      width: 106px;
      padding: 18px 0;
      @include box-sizing(border-box);
      border-radius: 30px;
      border: 2px solid #ffffff;
      text-align: center;
      color: #ffffff;
      font-family: $ProximaNovaSemibold;
      font-size: 18px;
    }
    &--descr{
      display: block!important;
      -webkit-order: 2;
      order: 2;
      position: relative;
      float: left;
      width: calc(100% - (106px + 21px));
      width: -moz-calc(100% - (106px + 21px));
      margin: 0;
      padding: 0;
      color: #ffffff;
      font-size: 18px;
    }
  }
  &__element.first{
    margin-left: calc(50% - 53px);
    margin-bottom: 41px;
    @include breakpoint(max-width 660px){
      margin-left: 0;
      margin-bottom: 20px;
    }
  }
  &__element.left{
    margin-right: 50%;
    padding-right: 54px;
    margin-bottom: 20px;
    @include box-sizing(border-box);
    @include breakpoint(max-width 660px){
      margin-right: 0;
      padding-right: 0;
    }
    .inform__element--date{
      -webkit-order: 2;
      order: 2;
      @include breakpoint(max-width 660px){
        -webkit-order:1;
        order: 1;
      }
      &:after{
        display: block;
        position: absolute;
        content: '';
        width: 66px;
        height: 25px;
        top: 18px;
        right: -68px;
        background-image: url('../img/icons/date-left-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        z-index: 1;
        @include breakpoint(max-width 660px){
          display: none;
        }
      }
    }
    .inform__element--descr{
      -webkit-order: 1;
      order: 1;
      text-align: right;
      @include breakpoint(max-width 660px){
        -webkit-order:1;
        order: 1;
        text-align: left;
      }
    }
  }
  &__element.right{
    margin-left: 50%;
    margin-bottom: 20px;
    padding-left: 54px;
    @include breakpoint(max-width 660px){
      margin-left: 0;
      margin-bottom: 20px;
      padding-left: 0;
    }
    @include box-sizing(border-box);
    .inform__element--date{
      -webkit-order: 1;
      order: 1;
      &:after{
        display: block;
        position: absolute;
        content: '';
        width: 66px;
        height: 25px;
        top: 18px;
        left: -68px;
        background-image: url('../img/icons/date-rigt-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        z-index: 1;
        @include breakpoint(max-width 660px){
          display: none;
        }
      }
    }
    .inform__element--descr{
      -webkit-order: 2;
      order: 2;
      text-align: left;
    }
  }
  &__element.last{
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    width: 100%;
    margin-top: 43px;
    margin-bottom: 73px;
    @include breakpoint(max-width 660px){
      @include flex-direction(row);
      @include justify-content(space-between);
      @include align-items(center);
      margin-top: 0;
      margin-bottom: 20px;
      padding-left: 0;
    }
    .inform__element--date{
      -webkit-order: 1;
      order: 1;
      margin-bottom: 26px;
      @include breakpoint(max-width 660px){
        margin-bottom: 0;
      }
    }
    .inform__element--descr{
      -webkit-order: 2;
      order: 2;
      text-align: center;
      @include breakpoint(max-width 660px){
        text-align: left;
      }
    }
  }
  &__box{
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 89px;
    @include breakpoint(max-width 660px){
      margin-bottom: 20px;
    }
    > h3{
      position: relative;
      float: left;
      width: 100%;
      margin-top: 0;
      margin-bottom: 50px;
      text-align: left;
      color: #ffffff;
      font-family: $ProximaNovaBold;
      font-size: 28px;
      @include breakpoint(max-width 660px){
        margin-top: 57px;
        margin-bottom: 50px;
      }
      &:after{
        display: block;
        position: absolute;
        content: '';
        width: 30px;
        height: 1px;
        left: 0;
        bottom: -22px;
        background-color: rgba(255,255,255,0.26);
      }
    }
    &--descr{
      position: relative;
      float: left;
      width: calc(100% - 171px);
      width: -moz-calc(100% - 171px);
      padding-right: 18px;
      @include box-sizing(border-box);
      @include breakpoint(max-width 660px){
        width: 100%;
      }
      > p{
        position: relative;
        float: left;
        width: 100%;
        margin-top: 0;
        margin-bottom: 30px;
        color: #ffffff;
        font-family: $PTSerifRegular;
        font-size: 18px;
        line-height: 32px;
        @include breakpoint(max-width 660px){
          line-height: 26px;
        }
      }
      &:after{
        display: block;
        position: absolute;
        content: '';
        width: 24px;
        height: 100%;
        top: 0;
        right: 0;
        background-image: url('../img/icons/info-separator.png');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        @include breakpoint(max-width 660px){
         display: none;
        }
      }
    }
    &--values{
      position: relative;
      float: left;
      width: 171px;
      @include breakpoint(max-width 660px){
        width: 100%;
      }
    }
    &--item{
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include flex-direction(column);
      @include justify-content(center);
      position: relative;
      float: left;
      width: 100%;
      margin-bottom: 47px;
      @include breakpoint(max-width 660px){
        margin-bottom: 20px;
      }
      .value{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        margin-bottom: 5px;
        text-align: center;
        color: #ffffff;
        font-family: $PTSerifBold;
        font-size: 55px;
        line-height: 53px;
      }
      .descr{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        margin: 0;
        text-align: center;
        color: #ffffff;
        font-family: $ProximaNovaSemibold;
        font-size: 10px;
        text-transform: uppercase;
      }
    }
  }
}