.partners {
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;
  &__wrapper {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(space-between);
    position: relative;
    float: left;
    width: 100%;
    @include breakpoint(max-width 660px){
      display: block;
      position: relative;
      float: left;
    }
    &--item {
      display: block;
      position: relative;
      float: left;
      width: 25%;
      height: 36px;
      overflow: hidden;
      margin-top: 86px;
      margin-bottom: 86px;
      @include breakpoint(max-width 660px) {
        width: 100%;
        height: 80px;
        margin-top: 15px;
        margin-bottom: 15px;
      }
      img, svg {
        size: 100%;
        object-fit: contain;
        @include breakpoint(max-width 660px) {
          size: auto;
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }
    }
  }
  &__form-box {
    position: relative;
    float: left;
    width: 100%;
    box-shadow: 0 1px 11px rgba(52, 73, 94, 0.4);
    background-color: #ffffff;
    padding-top: 44px;
    padding-left: 46px;
    padding-right: 46px;
    padding-bottom: 48px;
    @include box-sizing(border-box);
    margin-bottom: 101px;
    @include breakpoint(max-width 660px) {
      padding-top: 24px;
      padding-left: 26px;
      padding-right: 26px;
      padding-bottom: 28px;
      margin-bottom: 20px;
    }
    &--title {
      position: relative;
      float: left;
      width: 100%;
      margin-bottom: 22px;
      > h3 {
        width: 100%;
        position: relative;
        float: left;
        text-align: center;
        margin-top: 0;
        margin-bottom: 42px;
        color: #00335f;
        font-family: $ProximaNovaBold;
        font-size: 28px;
      }
      > p {
        position: relative;
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        color: #303030;
        font-size: 22px;
      }
    }
    &--fields {
      display: none;
      position: relative;
      float: left;
      width: 100%;
      margin-bottom: 64px;
    }
    &--line {
      position: relative;
      float: left;
      width: calc(50% - (48px / 2));
      @include breakpoint(max-width 660px) {
        width: 100%;
        margin-bottom: 15px;
      }
      &:nth-of-type(2) {
        float: right;
        @include breakpoint(max-width 660px) {
          float: left;
        }
      }
      > label {
        position: relative;
        float: left;
        width: 100%;
        margin-bottom: 15px;
        color: #0b3d66;
        font-family: $ProximaNovaBold;
        font-size: 18px;
        line-height: 18px;
      }
    }
    &--field {
      position: relative;
      float: left;
      width: 100%;
      height: 50px;
      border: 1px solid #e0e7ef;
      background-color: #ffffff;
      border-radius: 2px;
      padding: 0 10px;
      @include box-sizing(border-box);
      color: #0b3d66;
      font-family: $ProximaNovaBold;
      font-size: 18px;
    }
    &--submit {
      position: relative;
      float: left;
      width: 280px;
      margin-left: calc(50% - (280px / 2));
      margin-left: -moz-calc(50% - (280px / 2));
      padding: 20px 0;
      @include box-sizing(border-box);
      background-color: #00365f;
      border: 1px solid transparent;
      border-radius: 35px;
      color: #ffffff;
      font-family: $ProximaNovaBold;
      font-size: 24px;
      cursor: pointer;
      @include transition(0.4s);
      @include breakpoint(max-width 660px) {
        width: 100%;
        margin-left: 0;
      }
      &:hover {
        background-color: transparent;
        border: 1px solid #00365f;
        color: #00365f;
        @include transition(0.4s);
      }
    }
  }
}