.socials{
  display: block;
  position: absolute;
  width: 24px;
  height: 130px;
  top: calc(50% - (130px/2));
  top: -moz-calc(50% - (130px/2));
  left: 76px;
  z-index: 1;
  @include breakpoint(max-width 1023px){
    display: none;
  }
  &__link{
    position: relative;
    float: left;
    size: 24px;
    margin-bottom: 10px;
    overflow: hidden;
    &.facebook{
      background-image: url('../img/icons/facebook.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
    &.twitter{
      background-image: url('../img/icons/twitter.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
    &.vk{
      background-image: url('../img/icons/vk.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
    &.instagram{
      background-image: url('../img/icons/instagram.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
    &.facebook-b{
      background-image: url('../img/icons/facebook-b.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
    &.twitter-b{
      background-image: url('../img/icons/twitter-b.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
    &.vk-b{
      background-image: url('../img/icons/vk-b.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
    &.instagram-b{
      background-image: url('../img/icons/instagram-b.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}