.page-title{
  position: relative;
  float: left;
  width: 100%;
  margin-top: 52px;
  margin-bottom: 50px;
  text-align: center;
  color: #000000;
  font-family: $ProximaNovaBold;
  font-size: 28px;
  &:after{
    display: block;
    position: absolute;
    content: '';
    width: 30px;
    height: 1px;
    left: calc(50% - (30px/2));
    left: -moz-calc(50% - (30px/2));
    bottom: -22px;
    background-color: rgba(0,54,95,0.26);
  }
}