.page-title{
  position: relative;
  float: left;
  width: 100%;
  margin-top: 52px;
  margin-bottom: 50px;
  text-align: center;
  color: #00365f;
  font-family: $ProximaNovaBold;
  font-size: 28px;
  &:after{
    display: block;
    position: absolute;
    content: '';
    width: 30px;
    height: 1px;
    left: calc(50% - (30px/2));
    left: -moz-calc(50% - (30px/2));
    bottom: -22px;
    background-color: rgba(0,54,95,0.26);
  }
}

.preloader-wrap{
  position: fixed;
  opacity: 1;
  z-index: 10200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #00365f;
  .preloader{
    margin: auto;
    text-align: center;
    .c-gif{
      position: relative;
      float: left;
      width: 104px;
      height: 88px;
      //margin-left: calc(50 - (64px/2));
      //margin-left: -moz-calc(50 - (64px/2));
    }
  }
}

.hidden-overflow{
  overflow: hidden !important;
}

.hidden-before-preloader{
  opacity: 0;
}