.footer {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-color: #002947;
  padding-top: 44px;
  border-top: 2px solid #fff;
  @include breakpoint(max-width 660px) {
    padding-top: 10px;
  }
  &__logo {
    display: block;
    position: relative;
    float: left;
    width: 54px;
    height: 48px;
    overflow: hidden;
    @include breakpoint(max-width 660px) {
      margin-left: calc(50% - (54px / 2));
      margin-left: -moz-calc(50% - (54px / 2));
      margin-bottom: 10px;
    }
    img, svg {
      size: 100%;
      object-fit: contain;
    }
  }
  &__box {
    display: block;
    position: relative;
    float: left;
    width: calc(100% - (54px + 168px));
    width: -moz-calc(100% - (54px + 168px));
    margin-bottom: 51px;
    @include breakpoint(max-width 660px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  &__links {
    display: block;
    position: relative;
    float: left;
    width: 50%;
    padding-left: 120px;
    @include box-sizing(border-box);
    @include breakpoint(max-width 660px) {
      width: 100%;
      padding-left: 0;
      margin-bottom: 10px;
    }
    &--title {
      position: relative;
      float: left;
      width: 100%;
      margin-top: 0;
      margin-bottom: 8px;
      color: #ffffff;
      font-family: $ProximaNovaBold;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 0.51px;
    }
    ul {
      position: relative;
      float: left;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      list-style-position: inside;
      -moz-column-count: 2; /* Firefox */
      -webkit-column-count: 2; /* Safari and Chrome */
      column-count: 2;
      li {
        position: relative;
        a {
          display: block;
          position: relative;
          float: left;
          width: 100%;
          color: #ffffff;
          font-size: 12px;
          line-height: 25px;
          text-transform: uppercase;
          letter-spacing: 0.55px;
        }
      }
    }
    &--element {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      color: #ffffff;
      font-size: 12px;
      font-weight: 400;
      line-height: 25px;
      text-transform: uppercase;
      letter-spacing: 0.49px;
    }
  }
  &__socials {
    display: block;
    position: relative;
    float: left;
    width: 168px;
    @include breakpoint(max-width 660px) {
      width: 100%;
    }
    &--link {
      position: relative;
      float: left;
      width: 24px;
      height: 24px;
      overflow: hidden;
      margin-right: 21px;
      margin-bottom: 15px;
      &.facebook {
        background-image: url('../img/icons/facebook.svg');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
      &.twitter {
        background-image: url('../img/icons/twitter.svg');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        margin-right: 50%;
        @include breakpoint(max-width 660px) {
          margin-right: 21px;
        }
      }
      &.instagram {
        background-image: url('../img/icons/instagram.svg');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
      &.vk {
        background-image: url('../img/icons/vk.svg');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
    }
  }
  &__art {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    border-top: 3px solid #fff;
    p {
      position: relative;
      float: left;
      width: 100%;
      margin-top: 26px;
      margin-bottom: 24px;
      text-align: center;
      color: #ffffff;
      font-family: $ProximaNovaSemibold;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.55px;
    }
    a, a:hover{
      display: block;
      position: absolute;
      width: 200px;
      right: 10%;
      margin-top: 17px;
      margin-bottom: 24px;
      color: #ffffff;
      font-family: $ProximaNovaSemibold;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.55px;
      @include breakpoint(max-width 990px){
        position: relative;
        float: left;
        width: 200px;
        right: inherit;
        margin-left: calc(50% - (200px/2));
        margin-left: -moz-calc(50% - (200px/2));
      }
      @include breakpoint(max-width 660px){
        position: relative;
        float: left;
        width: 100%;
        right: inherit;
        margin-top: 17px;
        margin-left: 0;
        text-align: center;

      }
      span{
        position: relative;
        float: left;
        width: 50%;
        &:first-of-type{
          line-height: 33px;
        }
        &:nth-of-type(2){
          position: relative;
          float: left;
          height: 25px;
          overflow: hidden;
          img, svg{
            size: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}